body {
    background-color: #323132;
}

canvas {
    background-color: #8D7F76;
    position: absolute;
    display: block;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}